server:
  port: 8082


spring:
  application:
    name: HOTELSERVICE
  config:
    import: optional:configserver:http://localhost:8085

  cloud:
    config:
      import-check:
        enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/microservice
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
